
.menu-page {
    background-image: url('../../images/menu-bg.jpg');
    background-size: cover;
}

.menu-header{
    background-image: url('../../images/menu-header-bg.jpg');
    background-size: cover;
    background-position: top center;
    max-width:  100vw;
    height: 70vh;
    margin-bottom: 2rem;
    position: relative;
    border-bottom: 5px solid rgb(168, 170, 162);
    
}
.menu-form {
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 1rem;
    gap: 1rem;
    margin-top:5rem
}

.food-section{
    display: flex;
    flex-direction: column;
}
.food-category{
    background-color: white;
    border-radius: 10px;
    padding-top: 2rem 
}
.food-category h1 {
    text-align: center;
    color: rgb(201, 174, 20);
    font-size: 3rem;
    font-weight: 400;
    

}
.food-category img {
    margin:auto;
    display: block;
}
#deco{
    margin-bottom: 1rem;
}
